/*头部css*/
header{
	width: 100%;
	height: 73px;
	border-bottom: 1px solid #ededed;
}
header .header_contect{
	margin: 0 auto;
	width: 1280px;
}
header .header_contect h1{
	float: left;
	display: inline-block;
	width: 290px;
	height: 70px;
}
header .header_contect h1 .header_logo{
	display: inline-block;
	width: 290px;
	height: 70px;
	background: url(../images/index_top_logo.png) no-repeat;
	background-position: 0px -48px;
}
header .search{
	width: 300px;
	height: 69px;
	display: inline-block;
	position: relative;
	top: 10px;
	margin-left: 340px;
}
header .search form{
	width: 100%;
	height: 40px;
	background: url(../images/index_top_logo.png) no-repeat;
}
header .search form input{
	color: #919191;
	width: 80%;
	height: 30px;
	margin: 3px 0 0 30px;
	border: 0;
}
header .shop_car_logo{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-left: 100px;
	position: relative;
	top: 20px;
}
header .shop_car_logo a{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(../images/index_top_logo.png) no-repeat;
	background-position: -110px -158px;
	position: relative;
}
header .shop_car_logo a span{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 10px;
	color: white;
	text-align: center;
	line-height: 20px;
	left: 30px;
}
header .header_login{
	display: inline;
	position: relative;
	margin-left: 50px;
	top: 10px;
}
header .header_login p{
	display: inline-block;
	text-align: center;
	width: 36px;
	height: 36px;
}
#select_login{
	display: none;
	position: absolute;
	top: 30px;
	left: -50px;
	width: 160px;
	height: 195px;
	border: 1px solid #ccc;
	box-shadow: 10px 10px 5px #888888;
	z-index: 999;
	background-color: white;
}
#select_login li{
	width: 160px;
	height: 40px;
	line-height: 30px;
}
#select_login li a{
	display: inline-block;
	padding-left: 25px;
	height: 30px;
	width: 160px;
	color: #333333;
	font-size: 12px;
}
#select_login li a:hover{
	background-color: #919191;
}
#select_login li:nth-child(1) a em{
	background: url(../images/phonelog.png) no-repeat;
}
#select_login li a em{
	display: inline-block;
	height: 18px;
	width: 18px;
	position: relative;
	top: 3px;
	left: -5px;
}
#select_login li:nth-child(2) a em{
	background: url(../images/logins.png) no-repeat;
	background-position: -84px 0;
}
#select_login li:nth-child(3) a em{
	background: url(../images/logins.png) no-repeat;
	background-position: -112px 0;
}
#select_login li:nth-child(5) a em{
	background: url(../images/netease.png) no-repeat;
}
#select_login li:nth-child(4) a em{
	background: url(../images/sina.png) no-repeat;
}





#goto_top{
	width: 62px;
	height: 234px;
	border: 1px solid rgba(0,0,0,.4);
	position: absolute;
	right: 70px;
	top: 353px;
}
#goto_top .m-unclick{
	width: 60px;
	height: 60px;
	font-size: 12px;
	color: #333;
	padding-top: 15px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
#goto_top .shop_car_logo{
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 1px solid #e5e5e5;
}
#goto_top .shop_car_logo a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/totop.png) no-repeat;
	background-position: 0px -71px;
	position: relative;
	margin: 11px 0 5px 17px;
}
#goto_top .shop_car_logo a span{
	position: absolute;
	width: 10px;
	height: 10px;
	font-size: 10px;
	background-color: red;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 10px;
	left: 15px;
	top: -4px;
}
#goto_top p{
	text-align: center;
	font-size: 10px;
	color: #333;
}
#goto_top .help{
	width: 60px;
	height: 60px;
	border: 1px solid #e5e5e5;
}
#goto_top .help a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/totop.png) no-repeat;
	background-position: 0 -101px;
	margin: 11px 0 5px 19px;
}
#goto_top #btn_top{
	width: 60px;
	height: 35px;
	background: url(../images/totop.png) no-repeat;
	background-position: -70px 0px;
	display: none;
}
#goto_top #btn_top a{
	display: inline-block;
	width: 60px;
	height: 35px;
}











.c-detailed{
	width: 1100px;
	margin: 0 auto;
}
.c-detailed>h1{
	color: #333;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #333;
}
.c-detailed h1 a{
	color: #333;
}
.c-detailed h1 a:hover{
	text-decoration: underline;
}
.c-detailed h1 span{
	color: #999;
}
#box{border:1px solid black;width: 400px;height: 400px;position: relative;margin-top: 20px;float: left;}
#zoom{width: 200px;height: 200px;background-color: white;opacity:0.2;position: absolute;top: 0;left: 0;display: none;cursor: move;}
#bigimg{width: 400px;height: 400px;position: absolute;overflow: hidden;left: 620px;top: 143px;display: none;}
#bigimg img{position: absolute;top: 143px;left: 620px;}

.detailed-text{
	display: inline-block;
	width: 600px;
	height: 400px;
	margin-left: 95px;
	margin-top: 20px;
}
.detailed-text h1{
	font-weight: normal;
	display: inline-block;
	font-size: 24px;
	color: #333;
}
.detailed-text h2{
	font-size: 14px;
	color: #ccc;
	margin-top: 10px;
}
.detailed-text h3{
	font-size: 30px;
	color: rgb(211,58,49);
	margin: 15px 0;
	font-weight: normal;
	margin-bottom: 30px;
}
.detailed-text .s-color,.detailed-text .s-count,.detailed-text .s-service{
	color: #ccc;
	font-size: 12px;
}
.detailed-text .s-color a{
	display: inline-block;
	width: 40px;
	height: 20px;
	border: 1px solid #333;
	text-align: center;
	line-height: 20px;
	color: #333;
	font-size: 10px;
	margin-left: 20px;
}
.detailed-text .s-color a:hover{
	border-color: rgb(211,58,49);
	color: rgb(211,58,49);
}
.detailed-text .s-count{
	margin-top: 30px;
	margin-bottom: 30px;
}
.detailed-text .s-count p{
	display: inline-block;
	border: 1px solid #333;
	margin-left: 20px;
}
.detailed-text .s-count p a{
	display: inline-block;
	color: #333;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.detailed-text .s-count p span{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.detailed-text .s-service a{
	display: inline-block;
	color: rgb(211,58,49);
	margin-left: 20px;
}
.detailed-text .s-service a span{
	margin-right: 20px;
}
.detailed-text .s-service a:hover span{
	text-decoration: underline;
	display: inline-block;
}
.detailed-text .btn-buy a{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 40px;
	background-color: rgb(211,58,49);
	color: white;
}
.detailed-text .btn-buy{
	margin-top: 40px;
	margin-left: 50px;
}
.detailed{
	width: 800px;
	margin-bottom: 20px;
}
.detailed h1{
	font-size: 20px;
	font-weight: normal;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #333;
	margin-bottom: 30px;
}
.detailed img{
	width: 800px;
	height: 100%;
}




footer{
	width: 100%;
	background-color: #f9f9f9;
}
footer .footer_wrap{
	width: 1100px;
	height: 100px;
	margin: 0 auto;
}
footer .footer_wrap .left ul{
	height: 12px;
	width: 700px;
	margin-top: 30px;
	margin-left: 50px;
	display: inline-block;
}
footer .footer_wrap .left ul li{
	border-right: 2px solid #c9c9d5;
	height: 16px;
	line-height: 12px;
	float: left;
	padding-right: 10px;
	padding-left:10px ;
}
footer .footer_wrap .left ul li a{
	color: #999999;
	font-size: 12px;
}
footer .footer_wrap .left a:hover{
	text-decoration: underline;
}
footer .footer_wrap p{
	color: #666666;
	font-size: 12px;
	margin-left: 60px;
	margin-top: 10px;
}
footer .footer_wrap p a{
	color: #666;
}